@import url("https://fonts.googleapis.com/css?family=Caveat");
html,
body {
    background: linear-gradient(to bottom, #090513 0%, #964987 75%, #fdbca3 100%);
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: rotation 360s infinite linear;
    animation: rotation 360s infinite linear;
}

audio{
    display: none;
}

.stars:after,
.stars:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAIVJREFUeAHt2SEOwkAQhtFJKuqKRRGOgKzgUMgKRI/G0ZDoacNkN/ue/zJ+/ugBcI+01/EEAGBc04FkP58AVFoi7VaSLAEAAPB/j0hbK678AADMkXbZG03mGA0AAKsP3JgAAGDa88knsuZ8Mp1M6gEAPFtNrtEjtkh7lyRb3/PAWpS0BPgC0PMMdOEjXqoAAAAASUVORK5CYII=");
}

.stars:after {
    background-size: 100px;
    opacity: 0.4;
}

.stars:before {
    background-size: 200px;
    opacity: 0.6;
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#heart{
    position: absolute;
    z-index: 1;
    top: 150px;
    /*margin-top: -140px;*/
    /*margin-left: -400px;*/
    /* 心的显示区域宽高 */
    width: 400px;
    height: 400px;

    /* 心跳的动画 */
    animation: animate 1.2s infinite;
}

@keyframes animate {
    /* 动画就是简单的放大缩小 */
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.8);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 750px) {
    #heart {
        /* 小屏幕上面要小一圈，动画也要小一圈 */
        transform: scale(0.5);
        animation: animate-small 1.2s infinite;
    }

    #text {
        /* 文字也小一点 */
        font-size: 4em;
        margin-top: -0.3em;

        animation: animate-small 1.2s infinite;
    }

    @keyframes animate-small {
        0% {
            transform: scale(0.5);
        }
        30% {
            transform: scale(0.4);
        }
        60% {
            transform: scale(0.6);
        }
        100% {
            transform: scale(0.5);
        }
    }
}


h1 {
    font-size: calc(1.5em + 3vw);
    color: #fff;
    font-family: "Caveat", sans-serif;
    text-align: center;
    padding: 0.5em;
    transform: rotate(-4deg) translateY(-15vh);
    text-shadow: 0 3px 10px rgba(253, 183, 44, 0.62);
    animation: uito 3s ease-in-out;
    z-index: 4;
}

.hello{
    text-shadow: 2px 2px 34px #98ff98;
    animation:  bigsmall 1s ease-in infinite;
}

@keyframes bigsmall {
    0%{
        opacity: 0;
    }

    11%{
        opacity: 1;
    }
}

@keyframes uito {
    0%{
        opacity: 0;
        scale: 1.5;
        rotate: -15deg;
    }
    100%{
        opacity: 1;
        scale: 1;
        rotate: 0;
    }
}

.mountains {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    min-width: 100%;
    height: 60px;
    fill: #000022;
}

/*.mountains_layer_1 {*/
/*    z-index: 2;*/
/*}*/

/*.mountains_layer_2 {*/
/*    !*fill: #9D5189;*!*/
/*    z-index: 0;*/
/*}*/